<div class="container">
  <h2>Sign Up</h2>
  <form (submit)="onSubmit()" [formGroup]="signUpform">
    <mat-form-field appearance="fill" autocomplete="off">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="login" autocomplete="off" />
      <mat-error
        [hidden]="
          signUpform.controls['login'].valid ||
          signUpform.controls['login'].pristine
        "
      >
        Поле обязательное для заполнения.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" autocomplete="off">
      <mat-label>Возраст</mat-label>
      <input matInput type="number" formControlName="age" autocomplete="off" />
      <mat-error
        [hidden]="
          signUpform.controls['age'].pristine ||
          signUpform.controls['age'].valid
        "
      >
        Поле обязательное для заполнения.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" autocomplete="off">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="off"
      />
      <mat-error
        [hidden]="
          signUpform.controls['login'].valid ||
          signUpform.controls['login'].pristine
        "
      >
        Поле обязательно для заполнения.
      </mat-error>
    </mat-form-field>
    <br />
    <button
      mat-button
      [disabled]="signUpform.invalid"
      type="submit"
      (click)="onSubmit()"
      (keydown.Enter)="onSubmit()"
    >
      Sign Up
    </button>
    <mat-error [hidden]="!errorMessage" class="error">{{
      errorMessage
    }}</mat-error>
  </form>
</div>
