<div class="container">
  <h3>Sign In</h3>

  <form (submit)="onSubmit()" #signInForm="ngForm">
    <mat-form-field class="form-group" appearance="fill" autocomplete="off">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="login"
        class="form-control"
        required
        
        [(ngModel)]="model.email"
        name="email"
        #email="ngModel"
        autocomplete="off"
      />
      <mat-error [hidden]="email.valid || email.pristine">
        Поле имя обязательное для заполнения
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="fill" autocomplete="off">
      <mat-label >Password</mat-label>
      <input
        matInput
        type="password"
        class="form-control"
        [(ngModel)]="model.password"
        name="password"
        required
        #password="ngModel"
        autocomplete="off"
      />
      <mat-error [hidden]="password.valid || password.pristine">
        Поле возраст обязательное для заполнения
      </mat-error>
    </mat-form-field>
<br>
    <button mat-button type="submit" [disabled]="!signInForm.form.valid">Sign In</button>
  </form>
</div>
